.about-container{
  height: 100vh;
  width: 100%;
}
body{
  background-color: black;
  color: white;
}
header{
  height: 96px;
  display: flex;
  justify-content: space-between;
}
header h1{
  font-family: "Bebas Neue", sans-serif;
  font-size: 32px;
  font-weight: 400;
  margin-left: 3vw;
}
.header-link{
  color: white;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.header-link:hover{
  color: #D3E97A;
}
header nav{
  gap: 3vw;
  display: flex;
  margin-top: 4vh;
  margin-right: 7vw;
}
.container{
  display: flex;

}
.about-img{
  width: 35vw;
  height: 70vh;
  border-radius: 20%;
  margin-left: 5vw;
}
#about h1{
  font-family: "Bebas Neue", sans-serif;
  font-size: 500%;
  font-weight: 400;
}
#about p{
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: #dfdfdf;
  font-weight: 400;
}
#about{
  margin-left: 5vw;
}
.about-content{
  width: 50vw;
}
.skills-body{
  height: 100%;
  width: 100%;
}
.heading{
  font-family: "Bebas Neue", sans-serif;
  font-size: 500%;
  font-weight: 400;
}
#skills{
  text-align: center;
  display: block;
  height: 50vh;
}
.skills-list{
  display: flex;
  gap: 3vw;
  justify-content: center;

}
.skill-item{
  border: 2px solid  #484848;
  border-radius: 100px;
  padding: 15px;
  height: fit-content;
  color:  #dfdfdf;
}
.skill-item:hover{
  color: black;
  background-color: white;
  transition: 0.5s ease;
}
#projects{
  text-align: center;
  display: block;
  height: 50vh;
}
.projects-grid{
  display: flex;
  justify-content: center;
  gap: 3vw;
}
.project-item{
  border: 2px solid white;
  border-radius: 10px;
  padding: 35px; 
}
.project-item:hover{
  color: black;
  background-color: white;
  transition: 0.5s ease;
}
.project-title{
  font-size: 1.5em;
}
.project-description{
  font-size: 1em;
}
#contact{
  text-align: center;
  height: 50vh;
}
.socials{
  font-size: 18px;
}
a{
  text-decoration: none;
  color: #D3E97A;
}
